.validate {
    position: relative;


    &:after {
        content: "";

        position: absolute;

        top: 8px;
        right: 25px;

        transition: all 300ms ease-out;

        font-family: Linearicons-Free;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;

        text-transform: none;

        line-height: 1;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        transition: transform 200ms cubic-bezier(1, -0.04, 0.52, 1.5);

        transform: scale(0);
    }

    &-fail {
        &:after {
            content: "\e880";

            color: $error-color;

            transform: scale(1);
        }
    }

    &-success {
        &:after {
            content: "\e888";

            color: $success-color;

            transform: scale(1);
        }
    }
}