 /* Uzreiz drausmīgs formatējums es liktu katru propertie jaunajā rindiņā ar indent 4 space visiem līmeņiem
    Es nezinu cik tas ir būtiski šoreiz bet css nav ne reset stilu, ka arī netiek izmantotas Sass priekšrocības.
    Visur mistiskās atstarpes kuras haotiski parādās to turp to šurp. Vieglāk šo pārrakstīt neka analizēt :)
    Fontiem un krāsām kas atkārtojas labāk izmantot sass mainīgos un borderiem, padding un citiem gabaliem kas atkārtojas – mixins.
    Par fontu pikseļu mērvienībām varētu pastrīdēties. Common praksē projektiem labāk em vai vēl labāk rem (Ja nav svarīgs veco pārlūku atbalsts).
*/



h1 {font-family: Lucida Sans Unicode;border-bottom:1px solid silver;} // Font family jāliek vismaz papildus Arial un
// sans-serif, jo vajag paredzēt ka Lucida ir ne visās OS. Krāsas noteikti liktu HEX vai RGBA. Pirms 1px atstarpi.
// Vai tiešām mēs gribam stilizēt visus h1 projektā? Labāk tam izmantot classname
#page-wrapper {width:500px;position:absolute;top:40px;left:50%;margin-left:-250px;padding:5px;} // Visur atstarpes pēc komatiem un pirms value. Id iekš css nav labā prakse.
// Elements ir absolūts pret ko? Tam jābūt relative. Es ieliktu arī box-sizing: border-box lai ierēķināt padding platumā piem.
#heading{font-size: 24px;text-align:center} //Pazuda semikols beigās
#errors{border:1px solid #777777;padding:3px;display:none;} // Es erroriem izmantotu common klasi is-visible vai kko
 // līdzīgu kuru varētu ērti pielikt vai noņemt elementiem ko gribi paslēpt
.row {margin:15px 0;}
.row label {display:inline-block;float:left;width:150px;font-family: Lucida Sans Unicode; } // Netiek izmantota
// sass preprocesoru hierarhijas logika? Arī ir gan float gan inline-block – pietiktu ar kko vienu.
.row input[type=text] {width:200px;padding:3px;border:1px solid #777777;} // Labāk selektēt pēc klases ne pēc atribūta
textarea {width:200px;padding:3px;border:1px solid #777777;} // Atkal stilizējam visus textarea lapā. Nav labi.
.clearfloat {clear:both;height:0;font-size: 1px;line-height: 0px;}// Par šo jau izteicos HTML. Izmantojam before un after
.large{font-size: 24px;}
#submit {color:#333;text-decoration:none;display:inline-block;font-family: Lucida Sans Unicode;padding:4px 8px;background:#7EB87E;border:1px solid #4D814D;}
// HEX vēlams vienmēr rakstīt pilnā garumā #333333; Sīkums bet background vietā labāk izmantot background-color;

