// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Arsenal", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$background-color: #ffffff;
$dark-blue-color: #0b4e95;
$error-color: #fc5252;
$success-color: #4cc21c;
