// Fonts
@import url("https://fonts.googleapis.com/css?family=Arsenal:100,300,400,400,700");

// Fonts
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import "components/check-email";

// Overrides
@import "overrides/cards";
@import "overrides/buttons";

// Views
@import "views/intro";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
