.intro {
    position: relative;

    min-height: 100vh;

    background: linear-gradient(-102deg, #003f99 3%, #193bbe 31%, #0b9caf 95%);

    &:before {
        content: '';
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        background-image: url('/i/bg.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navbar {
        background: none;
        box-shadow: none;

        color: $background-color;

        a.nav-link:link,
        a.nav-link:visited {
            color: $background-color;
        }

        a.nav-link:hover {
            color: darken($background-color, 10%);
        }

        &-brand {
            color: $background-color;
        }

        .nav-lang .btn {
            color: $background-color;

            border-color: $background-color;

            background: transparent;
        }

        &-toggler {
            border-color: $background-color;

            &-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
        }
    }

    .jumbotron {
        background-color: transparent;

        color: $background-color;

        .btn {
            padding: 0.5em 2em;

            border-color: $background-color;

            color: $background-color;

            font-size: 1.2em;

            &:hover {
                background-color: $background-color;

                color: $dark-blue-color;
            }
        }

        .btn-primary {
            background-color: $background-color;

            color: $dark-blue-color;
        }
    }

}

@media (max-width: 767px) {
    .intro .jumbotron {

        h1.display-1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.2em;
        }

        .btn {
            font-size: 1em;
        }

    }
}